services:
  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    env_file:
      - .env            
    ports:
      - "5432:5432"
    volumes:
      - ./db:/docker-entrypoint-initdb.d
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: