--
-- PostgreSQL database dump
--

\restrict 3ys8mLP24uV7bSxEZIpIoTtwoT0XW7kD709leeE7ExwHOdzq0sSTNACIlDcDK8M

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: dosen; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.dosen (
    id integer NOT NULL,
    nama character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    password character varying(255) NOT NULL,
    canacckrs boolean DEFAULT false
);


ALTER TABLE public.dosen OWNER TO postgres;

--
-- Name: dosen_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.dosen_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.dosen_id_seq OWNER TO postgres;

--
-- Name: dosen_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myuser
--

ALTER SEQUENCE public.dosen_id_seq OWNED BY public.dosen.id;


--
-- Name: mahasiswa; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.mahasiswa (
    id integer NOT NULL,
    nama character varying(100) NOT NULL,
    nim character varying(20),
    email character varying(100) NOT NULL,
    password character varying(255) NOT NULL
);


ALTER TABLE public.mahasiswa OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.users (
    id integer NOT NULL,
    nama character varying(100) NOT NULL,
    nim character varying(20) NOT NULL,
    email character varying(100) NOT NULL,
    password character varying(255) NOT NULL,
    role character varying(20) DEFAULT 'mahasiswa'::character varying
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: mahasiswa_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.mahasiswa_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.mahasiswa_id_seq OWNER TO postgres;

--
-- Name: mahasiswa_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myuser
--

ALTER SEQUENCE public.mahasiswa_id_seq OWNED BY public.users.id;


--
-- Name: mahasiswa_id_seq1; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.mahasiswa_id_seq1
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.mahasiswa_id_seq1 OWNER TO postgres;

--
-- Name: mahasiswa_id_seq1; Type: SEQUENCE OWNED BY; Schema: public; Owner: myuser
--

ALTER SEQUENCE public.mahasiswa_id_seq1 OWNED BY public.mahasiswa.id;


--
-- Name: matkul; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.matkul (
    id integer NOT NULL,
    kode character varying(10) NOT NULL,
    nama character varying(100) NOT NULL,
    sks integer NOT NULL,
    prodi_id character(2)
);


ALTER TABLE public.matkul OWNER TO postgres;

--
-- Name: matkul_id_seq; Type: SEQUENCE; Schema: public; Owner: myuser
--

CREATE SEQUENCE public.matkul_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.matkul_id_seq OWNER TO postgres;

--
-- Name: matkul_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: myuser
--

ALTER SEQUENCE public.matkul_id_seq OWNED BY public.matkul.id;


--
-- Name: prodi; Type: TABLE; Schema: public; Owner: myuser
--

CREATE TABLE public.prodi (
    id character(2) NOT NULL,
    nama_prodi character varying(100) NOT NULL
);


ALTER TABLE public.prodi OWNER TO postgres;

--
-- Name: dosen id; Type: DEFAULT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.dosen ALTER COLUMN id SET DEFAULT nextval('public.dosen_id_seq'::regclass);


--
-- Name: mahasiswa id; Type: DEFAULT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.mahasiswa ALTER COLUMN id SET DEFAULT nextval('public.mahasiswa_id_seq1'::regclass);


--
-- Name: matkul id; Type: DEFAULT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.matkul ALTER COLUMN id SET DEFAULT nextval('public.matkul_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: myuser
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.mahasiswa_id_seq'::regclass);


--
-- Data for Name: dosen; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.dosen (id, nama, email, password, canacckrs) FROM stdin;
1	Dr. Siti Dewi	siti@dsn.ac.id	$2b$10$abcd1234efgh5678ijkl9012mnop3456qrstuv	t
2	Dosen Contoh	dosen1@dsn.ac.id	$2b$10$8ltmXa6uk9P8XjzeUWmmEuXROl0s8rJkauZqQG.5CDQI1lgsiCI6.	t
\.


--
-- Data for Name: mahasiswa; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.mahasiswa (id, nama, nim, email, password) FROM stdin;
1	Mika	111	111@gmail.com	$2b$10$lQRuj5qjzqDuHdtZVXcLfOizdEgTGDA0WZHOxVH24yDPoJEzcZuTC
2	Gabriel	250101	250101@gmail.com	$2b$10$6cufFe.LFQ1E9NPRUArfuOmtqCnHHRSwPuK9LxBvoh5aHWIaQWsz6
3	Whisnu	2405012	2405012@gmail.com	$2b$10$vaX.hItilpHGSYVw/4ocl.qVdPcuCtE9tI8dYuo8EfABNPDGxSXJu
\.


--
-- Data for Name: matkul; Type: TABLE DATA; Schema: public; Owner: myuser
--



--
-- Data for Name: prodi; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.prodi (id, nama_prodi) FROM stdin;
01	Teknik Informatika
02	Sistem Informasi
03	Teknik Elektro
04	Manajemen
05	Akuntansi
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: myuser
--

COPY public.users (id, nama, nim, email, password, role) FROM stdin;
1	Budi Santoso	12345	budi@univ.com	$2b$10$5yhvb7Jj2/iuFiYi8Cbeze8i7i/GRnO/UDCcpLOzppjckot4Tczh.	mahasiswa
2	gabriel	24051204093	224051204093@gmail.com	$2b$10$l.ZJOXuQtbcsWgjuBXyH7eHer7o17n/3EcDhaWU6EWpfSQJqtnHxu	mahasiswa
5	gabrielel	24051204092	24051204092@gmail.com	$2b$10$IPH8SN1OuodcSZRJaNrH3.dxuh3bnzr2gerufb.X.TrHOw.Rvuil.	mahasiswa
6	gaby	24051204085	24051204085@gmail.com	$2b$10$oxjOvU4XULT.KiudKpEQye39Xf.YGXFfJEgmo33SVqJGWvzEuMGDK	mahasiswa
\.



SELECT pg_catalog.setval('public.dosen_id_seq', 2, true);
SELECT pg_catalog.setval('public.mahasiswa_id_seq', 6, true);
SELECT pg_catalog.setval('public.mahasiswa_id_seq1', 3, true);
SELECT pg_catalog.setval('public.matkul_id_seq', 54, true);
ALTER TABLE ONLY public.dosen
    ADD CONSTRAINT dosen_email_key UNIQUE (email);
ALTER TABLE ONLY public.dosen
    ADD CONSTRAINT dosen_pkey PRIMARY KEY (id);
ALTER TABLE ONLY public.users
    ADD CONSTRAINT mahasiswa_email_key UNIQUE (email);
ALTER TABLE ONLY public.mahasiswa
    ADD CONSTRAINT mahasiswa_email_key1 UNIQUE (email);
ALTER TABLE ONLY public.users
    ADD CONSTRAINT mahasiswa_nim_key UNIQUE (nim);
ALTER TABLE ONLY public.mahasiswa
    ADD CONSTRAINT mahasiswa_nim_key1 UNIQUE (nim);
ALTER TABLE ONLY public.users
    ADD CONSTRAINT mahasiswa_pkey PRIMARY KEY (id);
ALTER TABLE ONLY public.mahasiswa
    ADD CONSTRAINT mahasiswa_pkey1 PRIMARY KEY (id);
ALTER TABLE ONLY public.matkul
    ADD CONSTRAINT matkul_pkey PRIMARY KEY (id);
ALTER TABLE ONLY public.prodi
    ADD CONSTRAINT prodi_pkey PRIMARY KEY (id);
ALTER TABLE ONLY public.matkul
    ADD CONSTRAINT matkul_prodi_id_fkey FOREIGN KEY (prodi_id) REFERENCES public.prodi(id);



-- 1) Tambah kolom prodi_id pada tabel dosen (jika belum ada)
ALTER TABLE public.dosen ADD COLUMN IF NOT EXISTS prodi_id character(2);

-- 2) Perbarui prodi_id untuk dosen (ganti email jika berbeda)
-- Pastikan email sesuai yang ada di tabel public.dosen
UPDATE public.dosen SET prodi_id = '01' WHERE email = 'ahmad.fauzi@dsn.ac.id';
UPDATE public.dosen SET prodi_id = '02' WHERE email = 'lina.hartati@dsn.ac.id';
UPDATE public.dosen SET prodi_id = '03' WHERE email = 'agus.santoso@dsn.ac.id';
UPDATE public.dosen SET prodi_id = '04' WHERE email = 'budi.hartono@dsn.ac.id';
UPDATE public.dosen SET prodi_id = '05' WHERE email = 'maya.putri@dsn.ac.id';

-- 3) Buat tabel jadwal jika belum ada
CREATE TABLE IF NOT EXISTS public.jadwal (
  id serial PRIMARY KEY,
  kode_matkul character varying(10) NOT NULL,
  dosen_id integer NOT NULL,
  semester smallint NOT NULL,
  tahun_ajaran character varying(16) NOT NULL,
  hari character varying(16),
  waktu_mulai time,
  waktu_selesai time,
  ruang character varying(64),
  created_at timestamptz DEFAULT now()
);

-- 4) Jika aman (tidak ada duplikat kode), buat unique index pada matkul.kode agar bisa jadi target FK
DO $$
BEGIN
  IF (SELECT COUNT(*) FROM (
        SELECT kode FROM public.matkul GROUP BY kode HAVING COUNT(*) > 1
      ) t) = 0 THEN
    BEGIN
      EXECUTE 'CREATE UNIQUE INDEX IF NOT EXISTS uq_matkul_kode ON public.matkul (kode)';
    EXCEPTION WHEN others THEN
      RAISE NOTICE 'Gagal membuat unique index pada matkul.kode (mungkin sudah ada)';
    END;
  ELSE
    RAISE NOTICE 'Terdeteksi duplikat pada matkul.kode — tidak membuat unique index';
  END IF;
END;
$$;

-- 5) Tambah foreign key constraints pada jadwal (tangani error bila sudah ada)
DO $$
BEGIN
  BEGIN
    ALTER TABLE public.jadwal
      ADD CONSTRAINT fk_jadwal_dosen FOREIGN KEY (dosen_id) REFERENCES public.dosen(id) ON DELETE RESTRICT;
  EXCEPTION WHEN duplicate_object THEN
    RAISE NOTICE 'Constraint fk_jadwal_dosen sudah ada';
  END;

  -- tambahkan FK ke matkul jika unique index dibuat
  IF EXISTS (
    SELECT 1 FROM pg_class c
    JOIN pg_index i ON c.oid = i.indrelid
    JOIN pg_class ic ON ic.oid = i.indexrelid
    WHERE c.relname = 'matkul' AND ic.relname = 'uq_matkul_kode'
  ) THEN
    BEGIN
      ALTER TABLE public.jadwal
        ADD CONSTRAINT fk_jadwal_matkul FOREIGN KEY (kode_matkul) REFERENCES public.matkul(kode) ON DELETE RESTRICT;
    EXCEPTION WHEN duplicate_object THEN
      RAISE NOTICE 'Constraint fk_jadwal_matkul sudah ada';
    END;
  ELSE
    RAISE NOTICE 'Tidak menambahkan FK ke public.matkul(kode) karena unique index tidak tersedia';
  END IF;
END;
$$;

-- 6) Insert jadwal: assign setiap matkul ke dosen yang memiliki prodi_id yang cocok
--    - hanya insert jika belum ada jadwal untuk kode/semester/tahun tersebut
--    - menggunakan semester = 1 dan tahun_ajaran = '2024/2025' (ubah jika perlu)
INSERT INTO public.jadwal (kode_matkul, dosen_id, semester, tahun_ajaran, hari, waktu_mulai, waktu_selesai, ruang)
SELECT
  m.kode,
  d.id,
  1 AS semester,
  '2024/2025' AS tahun_ajaran,
  -- generate hari/waktu/ruang sederhana berdasarkan urutan di tiap prodi
  CASE ((ROW_NUMBER() OVER (PARTITION BY TRIM(m.prodi_id) ORDER BY m.id) - 1) % 5)
    WHEN 0 THEN 'Senin' WHEN 1 THEN 'Selasa' WHEN 2 THEN 'Rabu' WHEN 3 THEN 'Kamis' ELSE 'Jumat'
  END AS hari,
  CASE ((ROW_NUMBER() OVER (PARTITION BY TRIM(m.prodi_id) ORDER BY m.id) - 1) % 5)
    WHEN 0 THEN '08:00' WHEN 1 THEN '10:00' WHEN 2 THEN '13:00' WHEN 3 THEN '15:00' ELSE '08:00'
  END AS waktu_mulai,
  CASE ((ROW_NUMBER() OVER (PARTITION BY TRIM(m.prodi_id) ORDER BY m.id) - 1) % 5)
    WHEN 0 THEN '09:40' WHEN 1 THEN '11:40' WHEN 2 THEN '14:40' WHEN 3 THEN '16:40' ELSE '09:40'
  END AS waktu_selesai,
  ('R' || (100 + ((ROW_NUMBER() OVER (PARTITION BY TRIM(m.prodi_id) ORDER BY m.id) - 1) % 20)))::text AS ruang
FROM public.matkul m
JOIN public.dosen d ON TRIM(m.prodi_id) = TRIM(d.prodi_id)
WHERE NOT EXISTS (
  SELECT 1 FROM public.jadwal j
  WHERE j.kode_matkul = m.kode AND j.semester = 1 AND j.tahun_ajaran = '2024/2025'
);

-- 7) Verifikasi hasil: daftar jadwal yang baru dibuat (limit)
SELECT j.id, j.kode_matkul, j.semester, j.tahun_ajaran, j.hari, j.waktu_mulai, j.waktu_selesai, j.ruang, d.id AS dosen_id, d.nama, d.email, d.prodi_id
FROM public.jadwal j
JOIN public.dosen d ON d.id = j.dosen_id
WHERE j.tahun_ajaran = '2024/2025' AND j.semester = 1
ORDER BY d.prodi_id, j.kode_matkul
LIMIT 200;

-- 8) Cek bahwa setiap dosen punya prodi yang benar
SELECT id, nama, email, prodi_id FROM public.dosen ORDER BY id;

CREATE TABLE IF NOT EXISTS attendance (
  id SERIAL PRIMARY KEY,
  nim VARCHAR NOT NULL,
  kode_matkul VARCHAR NOT NULL,
  semester SMALLINT NOT NULL,
  tahun_ajaran VARCHAR NOT NULL,
  pertemuan INT NOT NULL,
  tanggal DATE,
  status VARCHAR NOT NULL,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT now()
);

CREATE UNIQUE INDEX IF NOT EXISTS ux_attendance_unique
  ON attendance (nim, kode_matkul, semester, tahun_ajaran, pertemuan);
  
ALTER TABLE ml_model
ADD COLUMN IF NOT EXISTS params JSONB,
ADD COLUMN IF NOT EXISTS metrics JSONB,
ADD COLUMN IF NOT EXISTS scaler JSONB,
ADD COLUMN IF NOT EXISTS trained_rows INTEGER;
ALTER TABLE




\unrestrict 3ys8mLP24uV7bSxEZIpIoTtwoT0XW7kD709leeE7ExwHOdzq0sSTNACIlDcDK8M






